streamlit
sentence-transformers==2.7.0
tokenizers==0.19.1
chromadb==0.5.23
rank-bm25
openai
numpy
protobuf==4.25.3
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
